<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Additional custom styles can be added here */
    </style>
</head>
<body>
    <div class="container">
        <a th:href="@{/students/new}" class="btn btn-primary mb-3">Add Student</a>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student : ${stud}">
                        <td th:text="${student.s_id}"></td>
                        <td th:text="${student.s_name}"></td>
                        <td th:text="${student.lastname}"></td>
                        <td th:text="${student.e_mail}"></td>
                        <td>
                            <a th:href="@{/students/edit{id}(id=${student.s_id})}" class="btn btn-primary">Update</a>
                        </td>
                         <td>
                            <a th:href="@{/studentdel/delete{id}(id=${student.s_id})}" class="btn btn-primary">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
